*.sublime-workspace
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
node_modules/
.tmp
coverage
bower_components
npm-debug.log
.idea
test/unit/coverage
test/e2e/reports
